<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>KANBAN - TEST</title>
  </head>

  <body>
    <!-- Latest Sortable -->
    <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
    {% if project_number %}
    <h1 style="text-align: center">
      Kanban Board - Project {{ project_number }}
    </h1>
    {% else %}
    <h1>No project number found</h1>
    {% endif %}

    <div class="page">
      <form action="/add" method="post">
        <input
          type="hidden"
          name="project_number"
          value="{{ project_number }}"
        />
        <input type="text" id="input-field" name="title" required />
        <input type="submit" value="Add Task" />
      </form>
      <!-- <section class="tasks"></section> -->
    </div>
  
   <div class="modal-overlay"></div>
   <div class="wrap" id="multi">
    
       <div class="dragBox" id="drag1">
        <h1 style="text-align: center;">TO DO</h1>
        <hr>
          {% for task in tasks if task.status == 'To Do' %}
           <!-- <div id="{{ task.id }}" class="task" onclick="expandCard(this, event)"> -->
            <div id="{{ task.id }}" class="task" data-id="{{ task.id }}"   onclick="expandCard(this, event)">

               <div class="cardMini ">
                   <div class="header color-green"></div>
                   <!-- <div class="content">Task Content...</div> -->
                   <div class="content" data-id="{{ task.id }}" >
                      {{ task.title }}
                      <div class="actions">
                        <i class="material-icons"> edit</i>
                        <i class="material-icons">insert_link</i>
                        <i class="material-icons">attach_file</i>
                      </div>
                    </div>
               </div>
               <div class="cardFull">
                   <div class="header color-green"></div>
                   <div class="content" data-id="{{ task.id }}">
                      {{ task.title }}
                      <div class="actions">
                        <i class="material-icons"> edit</i>
                        <i class="material-icons">insert_link</i>
                        <i class="material-icons">attach_file</i>
                      </div>
                    </div>
               </div>
           </div>
           {% endfor %}
       </div>
      
       <div class="dragBox" id="drag2">
        <h1 style="text-align: center;">IN PROGRESS</h1>
        <hr>
       
          {% for task in tasks if task.status == 'In Progress' %}
            <!-- <div id="{{ task.id }}" class="task" onclick="expandCard(this, event)"> -->
              <div id="{{ task.id }}" class="task" data-id="{{ task.id }}" onclick="expandCard(this, event)">

              <div class="cardMini ">
                   <div class="header color-yellow"></div>
                   <!-- <div class="content">Task Content...</div> -->
                   <div class="content" data-id="{{ task.id }}">
                      {{ task.title }}
                      <div class="actions">
                        <i class="material-icons"> edit</i>
                        <i class="material-icons">insert_link</i>
                        <i class="material-icons">attach_file</i>
                      </div>
                    </div>
               </div>
               <div class="cardFull">
                   <div class="header color-yellow"></div>
                   <div class="content" data-id="{{ task.id }}">
                      {{ task.title }}
                      <div class="actions">
                        <i class="material-icons"> edit</i>
                        <i class="material-icons">insert_link</i>
                        <i class="material-icons">attach_file</i>
                      </div>
                    </div>
               </div>
           </div>
           {% endfor %}
          </div>
      
     
       <div class="dragBox" id="drag3">
        <h1 style="text-align: center;">DONE</h1>
        <hr>
    
          {% for task in tasks if task.status == 'Done' %}
            <!-- <div id="{{ task.id }}" class="task" onclick="expandCard(this, event)"> -->
              <div id="{{ task.id }}" class="task" data-id="{{ task.id }}" onclick="expandCard(this, event)">

              <div class="cardMini ">
                   <div class="header color-red"></div>
                   <!-- <div class="content">Task Content...</div> -->
                   <div class="content" data-id="{{ task.id }}">
                      {{ task.title }}
                      <div class="actions" >
                        
                        <i class="material-icons"> edit</i>
                        <i class="material-icons">insert_link</i>
                        <i class="material-icons">attach_file</i>
                      </div>
                      <!-- <input type="file" class="attachment-input" style="display: none;" /> -->
                    </div>
               </div>
               <div class="cardFull">
                   <div class="header color-red"></div>
                   <div class="content" data-id="{{ task.id }}">
                      {{ task.title }}
                      <div class="actions" >
                        <i class="material-icons"> edit</i>
                        <i class="material-icons">insert_link</i>
                        <i class="material-icons">attach_file</i>
                      </div>
                    </div>
               </div>
           </div>
           {% endfor %}
         
        </div>
      
   </div>
  

    <a href="/all_project">Go back</a>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
